<div class="window-title-bar">
	<ul class="windows-icons">
		<li class="min" ng-click="minimizeWindow()"></li>
		<li class="max" ng-click="fullscreenWindow()"></li>
		<li class="close" ng-click="closeWindow()"></li>
	</ul>
	<ul class="mac-icons">
		<li class="close" ng-click="closeWindow()"><span></span></li>
		<li class="min" ng-click="minimizeWindow()"><span></span></li>
		<li class="full" ng-click="fullscreenWindow()"><span></span></li>
	</ul>
	<ul class="linux-icons">
		<li class="close" ng-click="closeWindow()"></li>
		<li class="min" ng-click="minimizeWindow()"></li>
		<li class="max" ng-click="fullscreenWindow()"></li>
	</ul>
</div>