<!-- Detail view -->
<div class="detail-view full">
	<!-- Cover image -->
	<div class="detail-img">
		<a ng-click="goBack()">
			<span class="more-icon"><i class="icon icon-up-open-big"></i></span>
			<img once-src="movie.covers.medium" />
			<span class="cover-box">
				<span class="title" once-text="movie.name"></span>
				<span class="more" once-text="movie.year"></span>
			</span>
		</a>
		
		<ul class="action-buttons">
			<li>
				<a class="play button" ng-click="showSourceSelect()" st-navigatable nav-on="{escape: goBack, up: goBack, enter: showSourceSelect, right: rightColumn}" nav-title="detail-view">
					<span translate>PLAY</span>
				</a>
			</li>
			<li>
				<a class="watch-later button" ng-click="watchLater()" st-navigatable nav-on="{escape: goBack, enter: watchLater, down: 'preventDefault', right: rightColumn}" nav-title="watch-later" ng-class="{added: inQueue}">
					<span><i class="icon right icon-back-in-time"></i><span translate>WATCH_LATER</span></span>
				</a>
			</li>
		</ul>
	</div>

	<!-- Info -->
	<div class="detail-info">

		<div ng-hide="hideInfo">
			<!-- Title -->
			<h2 once-text="movie.name"></h2>
			<div class="year">
				<span once-text="movie.year"></span> 
				<span ng-if="rating" class="rating">
					<span class="stars"><span once-style="{width: ratingPercent + '%'}"></span></span>
				</span>
			</div>

			<div class="info-labels">
				<div class="line clearfix">
					<span class="label"><span translate>GENRE</span><span class="text" once-text="movie.genre.name"></span></span>
					<span class="label last"><span translate>DURATION</span><span class="text" once-text="movie.duration"></span> <span translate>MIN</span></span>
				</div>
				<div class="line clearfix">
					<span class="label"><span translate>LANGUAGE</span><span class="text" once-text="movie.language.name"></span></span>
					<span class="label last"><span translate>SUBTITLES</span><span class="text" once-text="subtitlesToString()"></span></span>
				</div>
				<div class="line clearfix">
					<span class="label last text-overflow"><span translate>CAST</span><span class="text" once-text="movie.cast"></span></span>
					<span class="label last text-overflow"><span translate>DIRECTOR</span><span class="text" once-text="movie.director"></span></span>
				</div>
			</div>

			<!-- Plot -->
			<div class="plot scroll-container" st-navigatable nav-on="{up: 'preventDefault', down: 'preventDefault', left: 'detail-view'}" nav-title="detail-plot" st-key-scroll scroll-child="true" st-nav-if="!showSourcesList" st-full-height>
				<div class="scroll-box">
					<p once-text="movie.plot"></p>
				</div>
			</div>
		</div>

		<!-- Source select -->
		<div class="key-list" ng-if="showSourcesList" st-full-height>
			<div class="source-select scroll-box" st-source-select sources-list="movie.sources" st-list-key-scroll>
				<p ng-if="!sourcesList.length" translate>NO_SOURCES_MOVIE</p>
				<p ng-if="sourcesList.length" translate>CHOOSE_PLAY_QUALITY</p>
				<ul class="action-buttons">
					<!-- Sources list -->
					<li ng-repeat="source in sourcesList">
						<a class="button big" source-index="{{ $index }}" ng-click="playSource($index)" st-navigatable nav-on="{escape: hideSourceSelect, left: hideSourceSelect, up: prevSource, enter: playSource}" nav-title="source">
							<span>
								<!-- Torrent health -->
								<span class="health" ng-class="{loading: source.healthLoading}">
									<span class="loader" ng-if="!source.health">
										<div class="dot-spinner">
										  <div class="double-bounce1"></div>
										  <div class="double-bounce2"></div>
										</div>
										<span class="text" translate>LOADING_HEALTH</span>
									</span>
									<span class="bullet" ng-if="source.health" ng-class="source.health.label"></span>
									<span class="status" ng-if="source.health"><span translate>HEALTH_SEEDS</span>: {{ source.health.seeds }} | <span translate>HEALTH_PEERS</span>: {{ source.health.peers }}</span>
								</span>
								{{ source.def | qualityLabel }} <span once-text="source.def"></span>p
							</span>
						</a>
					</li>
					<!-- Go back -->
					<li>
						<a class="button big" ng-click="hideSourceSelect()" st-navigatable nav-on="{left: hideSourceSelect, enter: hideSourceSelect, up: lastSource, down: 'preventDefault'}" nav-title="hide-sources"><span><i class="icon icon-left-open-big"></i><span translate>GO_BACK</span></span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>