<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- inject:css -->
    <link rel="stylesheet" href="/app/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/app/assets/css/jscrollpane.css">
    <link rel="stylesheet" href="/app/assets/css/less.css">
    <link rel="stylesheet" href="/app/assets/css/videofit.css">
    <!-- endinject -->
  </head>
  <body>

  	<div id="toolbar">
		<ul class="icons">
			<li class="min"></li>
			<li class="max"></li>
			<li class="close"></li>
		</ul>
  		<span>Cuevana Storm</span>
  	</div>

	<!-- Player -->
	<div id="video-player"></div>

	<!-- Popup layers -->
	<div id="dark-bg"></div>

	<div id="loader"><img src="/app/assets/img/loader.gif" /></div>

	<div id="loading-bar" class="popup-window">
		<div class="head"></div>
		<div class="msg"></div>
		<div class="bar"><span></span></div>
		<div class="foot"><button class="button cancel">Cancelar</button></div>
	</div>

	<div id="alert-msg" class="popup-window">
		<div class="head"></div>
		<div class="msg"></div>
		<div class="foot"><button class="button close">Cerrar</button></div>
	</div>

    <!-- inject:js -->
    <script src="/app/assets/js/1.1.jquery-2.1.0.min.js"></script>
    <script src="/app/assets/js/1.2.jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/app/assets/js/2.1.jquery.mousewheel.js"></script>
    <script src="/app/assets/js/2.2.jquery.jscrollpane.min.js"></script>
    <script src="/app/assets/js/2.3.jquery.throttle-debounce.js"></script>
    <script src="/app/assets/js/3.moment.lang.js"></script>
    <script src="/app/assets/js/4.md5.js"></script>
    <script src="/app/assets/js/5.1.mediaelement-and-player.js"></script>
    <script src="/app/assets/js/5.2.mejs-feature-fontawesome.js"></script>
    <script src="/app/assets/js/5.3.mep-feature-torrentinfo.js"></script>
    <script src="/app/assets/js/5.4.mejs-feature-customtracks.js"></script>
    <script src="/app/assets/js/5.5.mejs-feature-preventtouch.js"></script>
    <script src="/app/assets/js/5.6-mejs-feature-videofit.js"></script>
    <script src="/app/js/localization.js"></script>
    <script src="/app/js/player.js"></script>
    <!-- endinject -->
  </body>
</html>
